mixin checkmark(data)

    if ( data.radio )
        label.checkmark(class=`${data.disable ? "disabled" : ""}`)
            input(type="radio" name=data.radio checked=data.checked)
            span.checkmark__mark
            p!= data.text
    else
        label.checkmark
            input(type="checkbox" checked=data.checked)&attributes(attributes)
            span.checkmark__mark
            p!= data.text
