extends ../_template
block variables
	- let title = 'Вопросы и ответы'

block content
	include ../modules/form-mini/form-mini

	-
		let dataRender = [
			{
				tabTitle: 'Для родителей и выпусников',
				isActive: true,
				tabContent: [
					{
						itemTitle: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ip',
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
					{
						itemTitle: 'Оплата и стоимость',
						isActive: true,
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
							{
								subtitle: 'Какая схема работы при заключении договора на изготовление выпускного альбома "ПОД КЛЮЧ"??',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
							{
								subtitle: 'Что требуется от заказчика для подписания договора?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
							{
								subtitle: 'Какое минимальное количество альбомов должно быть в заказе?',
								isActive: true,
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
							{
								subtitle: 'Что входит в стоимость альбомов?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
					{
						itemTitle: 'Оформление заказа',
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
					{
						itemTitle: 'Оплата и стоимость',
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
					{
						itemTitle: 'Оформление заказа',
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
				]
			},
			{
				tabTitle: 'Для фотографов',
				isActive: false,
				tabContent: [
					{
						itemTitle: 'Оформление заказа',
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
					{
						itemTitle: 'Оплата и стоимость',
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
							{
								subtitle: 'Какая схема работы при заключении договора на изготовление выпускного альбома "ПОД КЛЮЧ"??',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
							{
								subtitle: 'Что требуется от заказчика для подписания договора?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
							{
								subtitle: 'Какое минимальное количество альбомов должно быть в заказе?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
							{
								subtitle: 'Что входит в стоимость альбомов?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
					{
						itemTitle: 'Оформление заказа',
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
					{
						itemTitle: 'Оплата и стоимость',
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
					{
						itemTitle: 'Оформление заказа',
						subitems: [
							{
								subtitle: 'Что требуется чтобы сделать заказ?',
								list: [
									'Для выпускных фотоальбомов «под ключ» минимальный заказ – 20 штук.',
									'Стоимость и возможность изготовления меньшего количество альбомов обговаривается дополнительно.'
								]
							},
						],
					},
				]
			},
		];

		let formMini = {
			title: 'Не нашли ответ?',
			subtitle: 'Оставьте нам заявку и&nbsp;мы&nbsp;ответим в&nbsp;ближайшее время',
			inputs: [
				{
					caption: 'Представьтесь, пожалуйста',
					type: 'text',
					name: 'name',
					value: '',
					placeholder: 'ФИО',
					require: true
				},
				{
					caption: 'Ваш E-mail',
					type: 'email',
					name: 'email',
					value: '',
					placeholder: 'example@gmail.com',
					require: true
				},
				{
					caption: 'Телефон',
					type: 'tel',
					name: 'phone',
					value: '',
					placeholder: 'Номер телефона',
					require: true
				},
				{
					caption: 'Ваш вопрос',
					type: 'textarea',
					name: 'question',
					value: '',
					placeholder: 'Введите сообщение...'
				},
			],
			btnText: 'Отправить заявку'
		};

	main
		article.space-article.article-dirty.container.js-tab-container
			h1.title.space-page Вопросы и ответы
			.row
				.col-12
					ul.tab-list
						each part, index in dataRender
							li.tab-list__item.js-tab-menu-item(data-target=`#target${index}` class=`${part.isActive ? 'is-active' : ''}`)
								h4.tab-list__title!= part.tabTitle
			.row
				.col-12
					each part, index in dataRender
						.tab__content(id=`target${index}` class=`${part.isActive ? 'is-active' : ''}`)
							.row
								.col-xl-8
									.accordion.js-accordion
										each accordionItem in part.tabContent
											.accordion__item.js-accordion-item(class=`${accordionItem.isActive ? 'is-active' : ''}`)
												.accordion__title.js-accordion-init!= accordionItem.itemTitle
													.accordion__btn.accordion__toggler.accordion__toggler_main
														+svg-use('bird')

												.accordion__content.js-accordion-content
													.accordion
														each accordionSubitem in accordionItem.subitems
															.accordion__subitem.js-accordion-subitem(class=`${accordionSubitem.isActive ? 'is-active' : ''}`)
																.accordion__subtitle.js-accordion-init!= accordionSubitem.subtitle
																.accordion__content.js-accordion-content
																	ul.questions-list
																		each textContent in accordionSubitem.list
																			li.questions-list__item.text!= textContent
																.accordion__btn.accordion__toggler
																	+svg-use('bird')

											.accordion__hr

								.col-xl-4.mt-6.mt-xl-0
									+form-mini(formMini)
